/Assignments/WoordenapplicatieJCF41/nbproject/private/
/Assignments/WoordenApplicatie/build/
/Assignments/WoordenApplicatie/dist/
/Assignments/WoordenApplicatie/nbproject/private/
/Assignments/HuffmanCodering/nbproject/private/
/Assignments/HuffmanCodering/dist/
/Assignments/HuffmanCodering/build/
/Assignments/Collection koppeling/nbproject/private/
/Assignments/Collection koppeling/build/
/Assignments/Collection koppeling/dist/