/Assignments/WoordenapplicatieJCF41/nbproject/private/
/Assignments/WoordenApplicatie/build/
/Assignments/WoordenApplicatie/dist/
/Assignments/WoordenApplicatie/nbproject/private/
/Assignments/HuffmanCodering/nbproject/private/